@tailwind base;
@tailwind components;
@tailwind utilities;

code {
    background: #f1f5f9;
    border-radius: 4px;
    padding: 0 4px;
}

pre code {
    background: #1e1e1e;
    padding: unset;
}

ul {
    @apply block list-disc my-4 mx-0 pl-4;
}

li {
    @apply list-item;
}

ol {
    @apply block list-decimal my-4 mx-0 pl-4;
}

h2 {
    @apply text-2xl font-bold;
}

blockquote {
    @apply bg-amber-100 p-4;
}

a {
    @apply text-blue-600;
}

a:hover {
    @apply underline;
}

h2 {
    @apply mt-14;
}

h3 {
    @apply text-lg font-bold my-3;
}